<div class="table centered">
    <table>
        <tr>
            <td style="border: 0px;">
                <!-- Calendly link widget begin -->
                <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
                <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
                <button style="color: #ffffff;
                background-color: #2d63c8;
                font-size: 19px;
                border: 1px solid #2d63c8;
                padding: 15px 50px;
                cursor: pointer"
                type="button" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/eldridge-bookings/30min'});return false;">30 MIN</button>
                <!-- Calendly link widget end -->
            </td>   
        </tr>
    </table>
</div>  