<section class="container centered">
  <div class="about">
    {{ with .Site.Params.avatarurl }}
      <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
    {{ end }}
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    {{ with .Site.Params.social }}
    <ul>
      {{ range sort .}}
        {{ if .icon }}
          <li>
            <a href="{{ .url }}" aria-label="{{ .name }}">
              <i class="{{ .icon }}" aria-hidden="true"></i>
            </a>
          </li>
        {{ else }}
          <li>
            <a href="{{ .url }}" aria-label="{{ .name }}">{{ .name }}</a>
          </li>
        {{ end }}
      {{ end }}
    </ul>
    {{ end }}
    <p>
      I am an Information Security engineer with extensive experience in corporate IT automation and security, cloud based companies, small/medium businesses, as well as early and mid-stage startups. I have previous experience at <a href="https://www.gemini.com/">Gemini</a>, <a href="https://duo.com/labs">Duo Labs</a>, <a href="https://www.cloudflare.com/">Cloudflare</a>, and <a href="https://www.google.com/">Google</a>. If you’d like to see how I can help secure your business check out my <a href="/consulting">consulting page</a> or schedule a call using the button below.
    </p>
    <p>    
      {{ partial "calendly-buttons.html" }}
    </p>
  </div>
</div>
</section>
